/oc.exe
/Patchouli.Scanner.dll
/Poc.exe
/Patchouli.Base.dll
/Oberon07.In.dll
/Poc.mod
/Oberon07.Files.dll
/Oberon07.Out.dll
/Oberon07.Rtl.dll
/Patchouli.BigNums.dll
/Patchouli.Crypt.dll
/Patchouli.Generator.dll
/Patchouli.Linker.dll
/Patchouli.Parser.dll
